<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To do</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
  <body>
    <h1>Add Cars to sell</h1>
    <form action="/cars_added" method="post">
      <label for="new-make">Make:</label>
      <input id="new-make" name="new-make" type="text">
      <label for="new-model">Model:</label>
      <input id="new-model" name="new-model" type="text">
      <label for="new-year">Year:</label>
      <input id="new-year" name="new-year" type="text">
      <label for="new-mileage">Mileage:</label>
      <input id="new-mileage" name="new-mileage" type="text">
      <label for="new-price">Price:</label>
      <input id="new-price" name="new-price" type="text">
      <label for="new-description">Description:</label>
      <input id="new-description" name="new-description" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
